.btn-blue {
	background-color: rgb(0, 95, 115);
 	padding: 15px 20px;
 	border-radius: 4px;
 	color: white;
 	font-weight: bold;
 	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
} 

.btn-blue:hover {
	background-color: rgb(148, 210, 189);
}